<div class="content p-3">
    <div class="d-flex titlePag justify-content-center text-light mt-4">
        <h1>Lista de jogadores</h1>
    </div>
    <div class="mt-4 d-flex justify-content-center">
        <ul class="list-group list">
            {{#each data.players}}
                <li class="list-group-item item">
                    <div class="dataUser">
                        <span>Nome: <strong>{{this.name}}</strong></span> <span>Telefone: <strong>{{this.phone}}</strong></span>
                    </div>
                    <form action="/register/updateStatus/{{this._id}}" method="post">
                    <div id="btns-with-status">
                        <div class="btnsFrequency">
                        
                            <button class="btn" type="submit">
                                <span data-id="{{this._id}}" onclick="respUp(this)" class="material-symbols-outlined 
                                {{#if (eq this.status "Vai!")}}
                                    activeUp 
                                {{/if}}
                                " id="up" title="Vai!">
                                    thumb_up
                                </span>
                            </button>
                        
                            <button class="btn" type="submit">
                                <span class="no"></span>
                                <span data-id="{{this._id}}" onclick="respDown(this)" class="material-symbols-outlined 
                                {{#if (eq this.status "Não vai!")}}
                                    activeDown 
                                {{/if}}" id="down" title="Não vai!">
                                    thumb_down
                                </span>
                            </button>
                        </div>
                        <div>
                            <p class="status">Status: {{this.status}}</p>
                        </div>
                    </div>
                </form>
                </li>
            {{else}}
                <div class="text-light d-flex justify-content-center mt-4">
                    <h4>Nenhum jogador cadastrado!</h4>
                </div>
            {{/each}}
        </ul>
    </div>
</div>
<script src="/js/frequencySystem.js"></script>